extends layout

block content
    title#title_wrapper
    section#app
    script(src="/javascripts/vue.js")(type="text/javascript")
    script(src="/javascripts/vuex2.1.2.js")(type="text/javascript")
    script(src="/javascripts/vue-router.js")(type="text/javascript")
    script(src="/javascripts/vue-resource.min.js")(type="text/javascript")
    script(src="/javascripts/vuex.js")(type="text/javascript")
    script(src="/javascripts/component/index.js")(type="text/javascript")
    script(src="/javascripts/component/list.js")(type="text/javascript")
    script(src="/javascripts/router.js")(type="text/javascript")
    script(src="/javascripts/main.js")(type="text/javascript")
